$fontMain: 'Comfortaa', cursive;

$colorGrey: #363634;
$colorRed: #945659;
$colorBrown: #643738;
$colorBlack: #120e0e;
$colorPink: #ebbab9;


body {
  height: 100vh;
  background-color: #ebbab9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  background-color: #945659;
}
#sideBar {
  z-index: 10;
  background-color: #ebbab9;
  width: 20vw;
  height: 70vh;
  border-top-right-radius: 10vh;
  border-bottom-right-radius: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sideBar img {
  margin: 3vh;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: .8vw solid #945659;
  cursor: pointer;
}
#sideBar button {
  background-color: transparent;
  border: 2px solid transparent;
  margin: 1vh;
  padding: 5px 10px 5px 10px;
  background-color: white;
  font-family: $fontMain;
  font-weight: bold;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 2vh;
}
#sideBar button:hover {
  border: 2px solid white;
}
#introBtn {
  color: #363634;
}
#projectsBtn {
  color: #945659;
}
#skillsBtn {
  color: #643738;
}
#certsBtn {
  color: #120e0e;
}
#contactBtn {
  color: #ebbab9;
}
section {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 60vw;
  height: 90%;
  font-family: $fontMain;
  font-weight: 600;
  overflow: auto;
  display: flex;
}
section::-webkit-scrollbar {
  background-color: transparent;
  width: .5vw;
}
section::-webkit-scrollbar-thumb {
  border-radius: 1vw;
}
section p {
  padding: 1vh;
  width: 80%;
  text-indent: 5%;
}
section p span {
  font-family: 'Chokokutai';
}
/* SECTION SPECIFIC CSS START */
#home {
  color: #ebbab9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#home h1 {
  font-size: 7vw;
}
#home h2 {
  font-size: 2vw;
  margin: 4vh;
}
#intro {
  color: #363634;
  flex-direction: column;
  align-items: center;
}
#intro h1 {
  font-size: 5vh;
  margin: 2vw;
}
#intro p {
  line-height: 3vh;
}
#projects {
  flex-direction: column;
  align-items: center;
}
#projects > div {
  color: #945659;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0px;
}
#projects::-webkit-scrollbar-thumb {
  background-color: #945659;
}
#projects h1 {
  font-family: Chokokutai;
  font-size: 30px;
  padding: 20px;
}
#sideQ {
  color: #945659;
  border: 10px double #945659;
  margin-top: 30px;  
}
#projects a {
  text-decoration: underline solid #945659;
  color: #945659;
}
#projects p  {
  text-align: center;
}
#skills {
  color: #643738;
  align-items: center;
  /* overflow: auto; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#skills::-webkit-scrollbar-thumb {
  background-color: #643738;
}
#skills img {
  height: 10vw;
  width: 10vw;
  margin: 10px;
}
#certificates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#certificates::-webkit-scrollbar-thumb {
  background-color: #120e0e;
}
#certificates > img {
  height: auto;
  width: 25vw;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #120e0e89;
  cursor: pointer;
}
#certificates > img.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 0px;
  padding: 3% 5% 5% 5%;
  object-fit: contain;
  z-index: 9999;
  cursor: pointer;
  box-shadow: none;
  background-color: #120e0e87;
}
#contact {
  color: #120e0e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact img {
  margin: 5%;
  max-height: 20vh;
  cursor: pointer;
}
.hide {
  display: none;
}